<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Witaj na moim blogu!</h1>
<p th:if="${principal != null}" th:text="${'Principal: ' + principal}"></p>
<p th:if="${loggedUser != null}" th:text="${'Zalogowany: ' + loggedUser.email}"></p>
<p th:text="${name}">Lukasz</p>

Dodano
<a th:href="@{/}">Home</a>
<br>
<a th:href="@{/addPost}">Dodaj posta</a>
<br>
<a th:href="@{/posts}">post</a>
</body>
</html>